[submodule "git-to-rule-themall"]
	path = git-to-rule-themall
	url = https://github.com/moryachok/scripts-to-rule-them-all.git
[submodule "aws-codedeploy-samples"]
	path = aws-codedeploy-samples
	url = https://github.com/moryachok/aws-codedeploy-samples.git
[submodule "mac-automation"]
	path = mac-automation
	url = https://github.com/moryachok/laptop.git
[submodule "chefspec"]
	path = chefspec
	url = https://github.com/moryachok/chefspec.git
